/* media */
/* mobile */
@media screen and (min-width: 428px) {
    
    body {
        margin: 0 auto;
    }
    .container {
        max-width: 428px;
    }

    .benefits-item {
        max-width: 396 px;
    }
                 .header {
                    width: 100%;
                 }
}
/* tablet */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
        .header-links,
        .address {
            display: block;
        }
    .nav {
    display: flex;
    align-items: center;
    
}
.logo {
    margin-right: 120px;
    
    padding-bottom: 24px;
}
         .nav-list {
             display: flex;
             column-gap: 40px;
             margin-right: 121px;
             padding-bottom: ;
             justify-content: center;
             align-items: center;
         }
    
         .nav-list-item {
             
             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         }
    
         .address-list {
             display: flex;
             flex-wrap: wrap;
             gap: 12px;
             margin-right: 16px;
            top: 16px;
           padding-top: 8px;
         }

         .address-list-item {
font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
         }



.header {
   
    height: 72px;
}
      .mobile-open-btn {
        display: none;
      }

        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/Dark-bg-tablet.jpg);
            max-width: 768px;
        }
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/Dark-bg-tablet@2.jpg);
    }
}
    .section-two {
        padding: 96px 0;
    }

    .benefits-list {
        gap: 24px;
    }

    .benefits-item {
        max-width: unset;
        flex-basis: calc((100% - 24px) / 2);
    }
       
        .section-four {
            padding: 96px 0;
        }
    
        .team-list {
            display: flex;
            gap: 24px;
        }
        .apps-item {
            flex-basis: calc((100% - 32px) / 3);
        }

                .footer-cont {
                    padding: 96px 0;
                }
                           .footer-container {
                            margin-right: 24px;
                           }
            .subscribe-container {
                

            }

            .footer-prg {
               display: inline;
            margin-top: 0;
                margin-bottom: 16px;
            }

                        .subsc-form {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            row-gap: 16px;
                            gap: 24px;
                        }


               .page-header {
                font-size: 56px;
                line-height: 60px;
               }

                           .hero-section {
                               padding: 112px 0;
                           }

           .page-header {
               max-width: 496px;
               margin-bottom: 36px;
           }
.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-prg {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--grey);
    margin-bottom: 16px;

}

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: var(--cornflower);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    color: var(--navy-blue);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: var(--ocean);
    color: var(--white);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: #ffffff
}

.modal-form-cont {
    margin-bottom: 8px;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    display: block;
    margin-bottom: 4px;

}

.modal-input-cont {
    position: relative;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus,
.modal-input:hover {
    border-color: var(--iris);


}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-comment:focus {
    border-color: var(--iris);
}

.modal-input:focus+.modal-icon {

    fill: #4D5AE5;
}


.modal-comment-cont {
    margin-bottom: 16px;

}

.modal-form-container {
    margin-bottom: 16px;

}

.modal-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    }
/* descktop */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1440px;
    }

    .logo {
        margin-left: 156px;
    }
        .nav-list {
            display: flex;
            gap: 40px;
            margin-right: 332px;
        }
    
        .nav-list-item {
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .address-list {
            display: flex;
            gap: 40px;
            padding: 24px 0;
        }

.hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office.jpg);
    max-width: 1440px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(/images/people-office@2.jpg);
    }
}
         .section-two {
             padding: 120px 0;
         }

    .benefits-list {
        display: flex;
        gap: 24px;
    }

    .benefits-item {
        flex-basis: calc((100% - 72px) / 4);
        width: 100%;

    }
        .socials-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 8px;
        width: 100%;
    }

         .section-three {
             display: block;
             padding: 120px 0;
         }
    
         .header-two {
             margin-bottom: 72px; 
         }
    
         .doing-list {
             display: flex;
             gap: 24px;
         }
    
         .doing-item {
             flex-basis: calc((100% - 2 * 24px) / 3);
         }

                 .apps-list {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 24px;
                    flex-wrap: nowrap;
                 }
                     .footer {
                       padding: 100px 0;
                        width: 100%;
                          }
                                
    
                  .footer-cont {
                          display: flex;
                         align-items: baseline;
                                
                               }
                                
                  .footer-container {
                        margin-right: 120px;
                                
                                   }
                                
                   .footer-prg {
        margin-top: 0;
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
         color: #FFFFFF;
                                }
                                
                     .footer-socials-list {
                            display: flex;
                             gap: 16px;
                                          }
                                
                
                         .social-media-cont {
                                    margin-right: 80px;
                                        }
                                
                                
                     .subsc-form {
                              display: flex;
                              gap: 24px;  
                                }

                           .page-header {
                               display: flex;
                               text-align: center;
                               max-width: 496px;
                               margin: auto;
                               margin-bottom: 48px;
                           }
                          .hero-section {
                              padding: 188px 0;
                          }
                                 .page-header {
                                     font-weight: 700;
                                     font-size: 56px;
                                     line-height: 1.07;
                                 }

                                                                 .modal {
                                                                     padding: 72px 24px 24px 24px;
                                                                     position: absolute;
                                                                     top: 50%;
                                                                     left: 50%;
                                                                     transform: translate(-50%, -50%);
                                                                     width: 408px;
                                                                     min-height: 584px;
                                                                     background: #fcfcfc;
                                                                     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
                                                                     border-radius: 4px;
                                
                                                                     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
                                
                                                                 .modal-prg {
                                                                     font-weight: 500;
                                                                     font-size: 16px;
                                                                     line-height: 1.5;
                                                                     text-align: center;
                                                                     letter-spacing: 0.02em;
                                                                     color: var(--grey);
                                                                     margin-bottom: 16px;
                                
                                                                 }
                                
                                                                 .modal-btn {
                                                                     display: flex;
                                                                     align-items: center;
                                                                     justify-content: center;
                                                                     padding: 0;
                                
                                                                     position: absolute;
                                                                     right: 24px;
                                                                     top: 24px;
                                                                     width: 24px;
                                                                     height: 24px;
                                                                     background-color: var(--cornflower);
                                                                     border: 1px solid rgba(0, 0, 0, 0.1);
                                                                     border-radius: 50%;
                                                                     color: var(--navy-blue);
                                
                                                                     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
                                
                                                                 .modal-btn:hover,
                                                                 .modal-btn:focus {
                                                                     border: none;
                                                                     background-color: var(--ocean);
                                                                     color: var(--white);
                                                                 }
                                
                                                                 .is-hidden {
                                                                     visibility: hidden;
                                                                     opacity: 0;
                                                                     pointer-events: none;
                                                                 }
                                
                                                                 .modal-svg {
                                                                     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
                                
                                                                 .modal-btn:hover,
                                                                 .modal-btn:focus {
                                                                     fill: #ffffff
                                                                 }
                                
                                                                 .modal-form-cont {
                                                                     margin-bottom: 8px;
                                                                 }
                                
                                                                 .modal-label {
                                                                     font-size: 12px;
                                                                     line-height: 1.17;
                                                                     letter-spacing: 0.04em;
                                                                     color: var(--light-slate);
                                                                     display: block;
                                                                     margin-bottom: 4px;
                                
                                                                 }
                                
                                                                 .modal-input-cont {
                                                                     position: relative;
                                
                                                                 }
                                
                                                                 .modal-input {
                                                                     width: 100%;
                                                                     height: 40px;
                                                                     border: 1px solid rgba(46, 47, 66, 0.4);
                                                                     border-radius: 4px;
                                                                     background-color: transparent;
                                                                     padding-left: 38px;
                                                                     outline: transparent;
                                                                     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                
                                                                 }
                                
                                                                 .modal-input:focus,
                                                                 .modal-input:hover {
                                                                     border-color: var(--iris);
                                
                                
                                                                 }
                                
                                                                 .modal-icon {
                                                                     position: absolute;
                                                                     left: 16px;
                                                                     top: 50%;
                                                                     transform: translateY(-50%);
                                                                     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
                                
                                                                 .textarea-comment:focus {
                                                                     border-color: var(--iris);
                                                                 }
                                
                                                                 .modal-input:focus+.modal-icon {
                                
                                                                     fill: #4D5AE5;
                                                                 }
                                
                                     
                                                                 .modal-comment-cont {
                                                                     margin-bottom: 16px;
                                
                                                                 }
                                
                                                                 .modal-form-container {
                                                                     margin-bottom: 16px;
                                
                                                                 }
                                
                                                                 .modal-textarea {
                                                                     width: 100%;
                                                                     height: 120px;
                                                                     font-size: 12px;
                                                                     line-height: 1.17;
                                                                     letter-spacing: 0.04em;
                                                                     color: rgba(46, 47, 66, 0.4);
                                                                     border: 1px solid rgba(46, 47, 66, 0.4);
                                                                     border-radius: 4px;
                                                                     background-color: transparent;
                                                                     padding: 8px 16px;
                                                                     outline: transparent;
                                                                     resize: none;
                                                                     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                                                                 }
}